/* font-family: 'Lemon', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Prompt', sans-serif; */


body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}


header {
    width: 15rem;
    height: fullscreen;
    background-color: rgba(85, 85, 85, 0.644);
}

/* for small screens */
.sidenavSm {
    width: 100%;
    height: 4rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;

    background-color: #111;
}

.sidenavSm a {
    padding: 0.5rem;
    text-decoration: none;
    font-size: 0.5rem;
    color: #818181;
    display: block;
}

.buttonSm {
    width: 2.5rem;
    height: 2rem;
    border: solid #04AA6D 1px;
    color: #04AA6D;
    padding: 0;
    text-align: center;
    font-size: 0.5rem;
    margin: 0.25rem 0.125rem;
    cursor: pointer;
    border-radius: 10px;
}

.buttonSm:hover {
    border: solid #ffffff 1px;
    background-color: #575757;
    color: #ffffff;
    transition-duration: 0.4s;
}

.imgBoxSm img {
    width: 3rem;
    height: auto;
    border-radius: 50%;
    border: 5px solid #555;
    margin-top: 0.25rem;
}

.listSm {
    display: flex;
}

.listSm a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 0.75rem;
}

.sidenavSm a:hover {
    color: #f1f1f1;
}

/* for medium and large */
.sidenav {
    height: 100%;
    width: 14rem;
    text-align: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 5rem;
}

.sidenav a {
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: #818181;
    display: block;
}

.button {
    border: solid #04AA6D 1px;
    color: #04AA6D;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 0.875rem;
    font-weight: bolder;
    margin: 0.25rem 0.125rem;
    cursor: pointer;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.button:hover {
    border: solid #ffffff 1px;
    background-color: #575757;
    color: #ffffff;
    transition-duration: 0.4s;
}

.imgBox img {
    width: 10rem;
    height: auto;
    border-radius: 50%;
    border: 5px solid #555;
}

.list {
    padding-top: 2rem;
}

.list a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-bottom: 3rem;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.whoami,
.projects,
.skills,
.contacts {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8;
    text-align: justify;
    height: auto;
    margin-left: 14rem;
    padding: 2rem 4rem;
    border-bottom: #818181 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.whoami h1 {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Lemon', serif;
    font-size: 4rem;
    margin: 1rem 0;
}

.whoami .firstname {
    color: black;
}

.whoami .lastname {
    color: black;
    margin-left: 1rem;
}

.whoami .firstname:hover {
    color: #818181;
}

.whoami .lastname:hover {
    color: #818181;
}

/* apply to all h3 tags */
.projects h2,
.skills h2,
.contacts h2 {
    font-size: 2rem;
    margin: 1rem 0;
}

.whoami h3,
.projects h3,
.skills h3,
.contacts h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.projects h5,
.skills h5,
.contacts h5 {
    font-size: 1rem;
    color: #555;
    margin: 0.25rem 0;
    margin-top: 1rem;
}

.projects p,
.skills p,
.contacts p {
    margin: 0;
}

.skillsList {
    display: flex;
    flex-wrap: wrap;
}

.skillsList a {
    padding: 0 0.5rem;
}

.contactsList {
    display: flex;
    align-items: center;
}

.contactsList a {
    padding: 0 1rem;
}

.logo:hover {
    filter: opacity(50%);
    -webkit-filter: opacity(50%);
    transition: 0.3s;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode .whoami h1 span {
    color: #fff;
}

body.dark-mode .contacts div a img:hover {
    filter: invert(50%);
    -webkit-filter: invert(50%);
    transition: 0.3s;
}

@media screen and (max-width: 768px) {
    .sidenav {
        display: none;
    }

    /* 
    #dark-mode-toggle {
        display: block;
    } */

    .button {
        padding: 0.25rem 0.5rem;
        font-size: 0.5rem;
        font-weight: 400;
        margin: 0.125rem 0.0625rem;
    }

    .imgBox img {
        width: 6rem;
    }

    .sidenav {
        width: 8rem;
        padding-top: 3rem;
    }

    .whoami,
    .projects,
    .skills,
    .contacts {
        padding: 2rem 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .whoami {
        padding-top: 4rem;
    }
}

@media screen and (min-width: 768px) {

    .sidenavSm {
        display: none;
    }
}